<h1><%= link_to @chapter.book_name, book_path(@chapter.book) %></h1>
<h2><%= @chapter.name %></h2>
<ul>
  <% @puzzles.each do |puzzle| %>
    <li>
      <div style="width: 180px">
        <%= link_to puzzle.id, puzzle_path(puzzle), class: "board", id: puzzle.id, "start-position": puzzle.position, "to-move": puzzle.to_move %>
      </div>
    </li>
    </br>
  <% end %>
</ul>
<%= javascript_include_tag "chess/chapter" %>
